In [0]:
from pyspark.sql import SparkSession

In [0]:
from pyspark.sql import Row
data = [Row(id=1, name='Naveen',dept='IT',salary=50000, age= 36),
        Row(id=2, name='Loukhya',dept='HOME',salary=10000, age= 30),
        Row(id=3, name='Linisha',dept='School',salary=0, age= 7)]

In [0]:
df=spark.createDataFrame(data)
df.show()

In [0]:
df.select("name","dept","salary").show()
df.filter(df.age > 30).show()
df.groupBy("dept").sum("salary").show()

In [0]:
df.filter(df.salary>10000).show()

In [0]:
from pyspark.sql.functions import col
df1 = df.withColumn("updated-salary",col("salary")*2)
df1.show()